<a href="https://colab.research.google.com/github/Luc4sL4idens/CIENCIA-DE-DADOS-E-SISTEMAS-INTELIGENTE/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Cria a Serie notas
grades = pd.Series([7.6, 5.0, 9.5, 6.4])

# Cria a Series alunos
lst_registration = ['M01','M02','M03','M04']
lst_names = ['bob', 'dayse', 'bill', 'Cris']
students = pd.Series(lst_names, index=lst_registration)

print(grades)
print('-------------------------------------------------')
print(students)

0    7.6
1    5.0
2    9.5
3    6.4
dtype: float64
-------------------------------------------------
M01      bob
M02    dayse
M03     bill
M04     Cris
dtype: object

In [ ]:
# outra forma de criação de Series - a partir de um dicionário
dic_students = ({'M01':'bob', 'M02':'dayse', 'M03':'bill', 'M04':'Cris'})
students2 = pd.Series(dic_students)
print(students)

In [4]:
# Propriedades básicas das Séries
students = pd.Series({'M01':'bob', 'M02':'dayse', 'M03':'bill', 'M04':'Cris'})

# Atribue nomes p/ vetores de dados e rotulos (indice)
students.name = 'alunos'
students.index.name = 'matricula'

print(students)

size = students.size
print('tamanho: ', size)

data = students.values
print('dados: ', data)

labels = students.index
print('rótulos', labels)

students_type = type(students)
print('tipo', students_type)

students_dtype = students.dtype
print('dtype Series', students_dtype)

students_idx_dtype = students.index.dtype
print('dtype vetor de dados', students_idx_dtype)

matricula
M01      bob
M02    dayse
M03     bill
M04     Cris
Name: alunos, dtype: object
tamanho:  4
dados:  ['bob' 'dayse' 'bill' 'Cris']
rótulos Index(['M01', 'M02', 'M03', 'M04'], dtype='object', name='matricula')
tipo <class 'pandas.core.series.Series'>
dtype Series object
dtype vetor de dados object

In [8]:
# indexação booleano

# Obtem os index
idx_approved = grades[grades >=7].index

# imprimi os alunos aprovados

print('aluno aprovados')
# print(students[idx_approved])
print(students.iloc[idx_approved])

aluno aprovados
matricula
M01     bob
M03    bill
Name: alunos, dtype: object

In [9]:
# Buscas em Series

has_M01 = 'M01' in students
print(has_M01)

has_M05 = 'M05' in students
print(has_M05)

True
False

In [11]:
# Inserir, remover, alterar

print(students, '\n')

students['M55'] = 'Rakesh'
print(students, '\n')

students['M55'] = 'Rakesh2'
print(students, '\n')

students = students.drop('M55')
#del students['M55']
print(students, '\n')

matricula
M01      bob
M02    dayse
M03     bill
M04     Cris
Name: alunos, dtype: object

matricula
M01       bob
M02     dayse
M03      bill
M04      Cris
M55    Rakesh
Name: alunos, dtype: object

matricula
M01        bob
M02      dayse
M03       bill
M04       Cris
M55    Rakesh2
Name: alunos, dtype: object

matricula
M01      bob
M02    dayse
M03     bill
M04     Cris
Name: alunos, dtype: object

In [14]:
# Alterar o indice da Séries

print(students, '\n')

students.index = ["M22","M23","M24","M25"]

print(students, '\n')

M22      bob
M23    dayse
M24     bill
M25     Cris
Name: alunos, dtype: object

M22      bob
M23    dayse
M24     bill
M25     Cris
Name: alunos, dtype: object

In [ ]:
for student in students: print(student)

for position in students.index: print(position)

In [26]:
# Operações aritiméticas com computação vetorizada

import pandas as pd
import numpy as np

# cria as Séries s1 e s2

s1 = pd.Series([2,4,6])
s2 = pd.Series([1,3,5])

print("s1:\n", s1, '\n')
print("s2:   \n", s2, '\n')

print('s1*s2')
print(s1 * s2)

print('\n raiz quadrada')
print(np.sqrt(s1))

s1:
 0    2
1    4
2    6
dtype: int64

s2:
 0    1
1    3
2    5
dtype: int64

s1*s2
0     2
1    12
2    30
dtype: int64

 raiz quadrada
0    1.414214
1    2.000000
2    2.449490
dtype: float64

In [28]:
# valor Nan

green = pd.Series({"BR":1,"FR":0,"UK":0})
blue = pd.Series({'AR':1, 'BR':1, 'FR':1, 'IT':0, 'UK':1})
total  = green + blue
print(total)

AR    NaN
BR    2.0
FR    1.0
IT    NaN
UK    1.0
dtype: float64

In [30]:
# Indices datetime

# cria uma série temporal
days = ['10/02/2019', '11/02/2019', '12/02/2019', '13/02/2019', '14/02/2019', '15/02/2019']
temp_max = [31,35,34,28,27,27]
serie_temporal = pd.Series(temp_max, index=days)


# convere tipo do indice para datetime e imprime a série
serie_temporal.index = pd.to_datetime(serie_temporal.index,
                                      format='%d/%m/%Y')
print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

In [34]:
#indexaçação hierarquica
money = ['peso','real','euro','euro','libra']
contries = [['america', 'america', 'europa','europa','europa'],
            ['AR', 'BR', 'FR', 'IT', 'UK']]
lst_countries = pd.Series(money, index=contries)
print(lst_countries)
print(lst_countries['america'])
print(lst_countries[:, 'IT'])
print(lst_countries['america']['AR'])

america  AR     peso
         BR     real
europa   FR     euro
         IT     euro
         UK    libra
dtype: object
AR    peso
BR    real
dtype: object
europa    euro
dtype: object
peso